*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#eef2f7;
    color:#08152a;
}

.hero{
    background:linear-gradient(
        90deg,
        #071020,
        #15243f
    );

    padding:30px 20px 120px;
}

.hero-content{
    max-width:1200px;
    margin:auto;
}

.sub-title{
    color:#ffbf72;
    font-weight:700;
    letter-spacing:2px;
    margin-bottom:10px;
}

h1{
    color:white;
    font-size:64px;
    margin-bottom:25px;
}

.search-card{
    background:white;

    padding:22px;

    border-radius:30px;

    box-shadow:
    0 20px 40px rgba(
        0,0,0,.12
    );
}

.search-card label{
    display:block;

    font-size:20px;

    font-weight:700;

    margin-bottom:16px;
}

.search-row{
    display:flex;

    gap:12px;
}

#search{
    flex:1;

    padding:18px;

    border-radius:18px;

    border:
    2px solid #d6dce6;

    font-size:20px;
}

#clear-btn{
    width:70px;

    border:none;

    border-radius:18px;

    background:#ff7a13;

    color:white;

    font-size:28px;

    cursor:pointer;
}

.filter-row{
    display:flex;

    gap:12px;

    margin-top:18px;

    flex-wrap:wrap;
}

.filter-btn{
    padding:
    12px 18px;

    border-radius:999px;

    border:
    1px solid #cbd3df;

    background:white;

    cursor:pointer;

    font-weight:700;
}

.filter-btn.active{
    background:#08152a;

    color:white;
}

main{
    max-width:1200px;

    margin:
    -70px auto 0;

    padding:20px;
}

.result-header{
    display:flex;

    justify-content:
    space-between;

    margin-bottom:18px;

    color:#41526d;
}

.card{
    background:white;

    border-radius:26px;

    padding:24px;

    margin-bottom:16px;

    box-shadow:
    0 12px 30px rgba(
        0,0,0,.08
    );
}

.artikelnummer{
    color:#d65c00;

    font-size:34px;

    font-weight:800;

    margin-bottom:12px;
}

.omschrijving{
    font-size:34px;

    font-weight:800;

    margin-bottom:20px;
}

.info-grid{
    display:grid;

    grid-template-columns:
    repeat(
        5,
        1fr
    );

    gap:14px;
}

.info-box{
    background:#f2f5f9;

    border-radius:18px;

    padding:16px;
}

.info-box span{
    display:block;

    font-size:13px;

    color:#667892;

    font-weight:700;

    margin-bottom:8px;
}

.info-box strong{
    font-size:28px;
}

.empty{
    background:white;

    padding:25px;

    border-radius:22px;

    text-align:center;
}

@media(
max-width:900px
){

h1{
font-size:42px;
}

.info-grid{
grid-template-columns:
1fr 1fr;
}

.omschrijving{
font-size:24px;
}

.artikelnummer{
font-size:24px;
}

.info-box strong{
font-size:20px;
}

}

@media(
max-width:500px
){

.hero{
padding:
20px
15px
90px;
}

.search-row{
flex-direction:row;
}

#search{
font-size:16px;
}

#clear-btn{
width:55px;
}

.info-grid{
grid-template-columns:
1fr;
}

main{
margin-top:-50px;
}

h1{
font-size:34px;
}

}
